@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Noto Sans Lao";
  src: url("/fonts/noto-sans-lao.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/nunito.woff2") format("woff2");
  font-weight: 700 800 900;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}
